@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

// Fonts
$mainFonts: 'Open Sans', Arial, Geneva;

// Colors
$dark: #2a2a2a;
$white: #ffd;
$background: #444;
$background-slider: #eee;